<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.buttsweetsfinal">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.example.buttsweetsfinal.network.Application"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/buttlogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/buttlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".UserProfileActivity" />

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivitySignUp"
            android:excludeFromRecents="true"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".ActivityLogin"
            android:excludeFromRecents="true"
            android:theme="@style/NoTitleDialog" />
        <activity android:name=".cart.ShoppingCartActivity" />
        <activity android:name=".ActivityMain" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".ActivityProducts" />
    </application>

</manifest>